.container{
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
}
.clearfix{
  overflow: auto;
}
#side-box{
  float: right;
  text-align: right;
}
#cat-of-week-box{
  float: right;
  text-align: right;
  width: auto;
}
.nav-bar{
  align-items: flex-start;
  max-width: 100%;
}
h1{
  color: white;
  font-size: 32pt;
}
h2{
  color: white;
}
h3{
  color: rgb(44,154,183);
}

ul{
  list-style-type: none;
  background-color: rgb(235,235,235);
  text-decoration: none;
  max-width: 1000px;
  padding: 1rem;
  overflow: auto;
}

li{
  float: left;
  padding: inherit;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

li::after{
  content: "/";
}
li:last-child:after {
    content: " ";
  }
main{
  float: none;
  width: auto;
}

footer{
  background-color: rgb(58,58,58);
  color: white;
  text-align: center;
  float: center;
  font-family: "Arial", Helvetica, sans-serif;
}
.footer-link{
  background-color: rgb(58,58,58);
}
header {
  background-color: rgb(44,154,183);
  font-family: "Arial", Helvetica, sans-serif;
  font-color: white;
}
